<h1>Signup form</h1>

<%= form_with model: @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <div><%= msg %></div>
    <% end %>
    <br>
  <% end %>

  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "Sign Up" %>
  </div>
<% end %>